#scss-wrapper-input {
  position: relative;
  max-width: 500px;
}

.scss-border {
  position: absolute;
  -webkit-appearance: none;
  width: calc(100% - 0.01%);
  max-width: 340px;
  top: 20;
  transform: translate(7%, 3.5%);
  border: 0;
  font-family: inherit;
  padding: 12px 0;
  height: 48px;
  font-size: 16px;
  font-weight: 500;
  background: none;
  border-radius: 0;
  transition: all 0.15s ease;
}

.scss-border:focus {
  position: absolute;
  outline: none;
  left: 100;
  top: 20;
  width: 0;
  animation: border_anim 1s linear forwards;
}

@keyframes border_anim {
  0% {
    width: 0%;
    transform: translate(21%, 3.5%);
    cursor: none;
    opacity: 0;
  }
  100% {
    width: 100%;
    max-width: 330px;
  }
}

.scss-underline {
  position: relative;
}

.scss-underline::after {
  position: absolute;
  content: '';
  display: block;
  left: 0;
  bottom: -10px;
  width: 2em;
  height: 2px;
  background-color: #4cf048;
}

.scss-card-toast {
  position: relative;
}

.scss-card-toast::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  -webkit-appearance: none;
  transition: all 0.15s ease;
}

.scss-card-toast::after:hover {
  position: absolute;
  right: 10px;
  top: 10px;
  max-height: 300px;
  transform: translateY(330px);
  animation: toast_anim 1s linear forwards;
}

@keyframes toast_anim {
  0% {
    top: 50;
    height: 0%;
    opacity: 0;
  }
  100% {
    height: 100%;
  }
}
