@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;500;700&display=swap'); */

@layer ~base {
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
}

.headline-m {
  @apply text-2xl text-black font-medium select-none;
}

.headline-s {
  @apply text-sm text-gray-500 leading-tight lg:w-[300px] pb-1 md:pb-1 lg:pb-0 select-none;
}

.btn-m-white {
  @apply p-4 w-[200px] rounded-full bg-white text-gray-800 border-gray-800 border
text-xs transition-all group-hover:opacity-60;
}

.btn-m-color {
  @apply p-5 w-[240px] rounded-full text-xs transition-all  group-hover:bg-opacity-80;
}

.btn-m-icon-base {
  @apply top-[25px] right-2 text-base transition-all group-hover:opacity-80 text-lg;
}

.btn-m-icon-white {
  @apply btn-m-icon-base;
}

.btn-m-icon-black {
  @apply btn-m-icon-base text-black;
}

.caption-s {
  @apply text-xxs text-gray-300;
}

.error-message-s {
  @apply text-xs text-red-600 leading-5;
}

.frame-large {
  @apply lg:px-12 px-7 pt-10 pb-10 rounded-3xl bg-white border border-black;
}

.drop-down-menu-wrapper {
  @apply absolute rounded-xl bg-white border-gray-800 py-6 flex flex-col text-center gap-y-1 z-10 right-5 md:right-10 lg:right-24;
}

.input-area {
  @apply p-3 block w-full text-sm md:text-sm text-gray-700 rounded-md border-black border lg:max-w-[650px] max-w-full outline-none focus:ring-2 focus:ring-green-400 focus:border-green-400 focus:placeholder-gray-300;
}
.arrow-icon-s {
  @apply h-3 w-3
}

.arrow-icon-m {
  @apply h-3 w-3 text-white group-hover:text-white
}

.header-icon {
  @apply h-5 w-5 text-black;
}
.header-wrapper {
  @apply z-20 pl-6 pr-5 md:px-11 lg:px-24 bg-white w-full flex justify-between justify-items-center border-b-2 border-gray-800 fixed;
}

.header-controller {
  @apply flex my-auto gap-x-5 md:inset-auto md:static items-center;
}

.edit-icon-btn-wrapper {
  @apply bg-white transition-all;
}

.explanation-img-wrapper {
  @apply w-full aspect-[4/3] bg-gray-100 rounded-md lg:max-w-[650px] max-w-full;
}

.explanation-img {
  @apply border-0 z-10 rounded-md aspect-[4/3] object-cover w-full;
}

.explanation-img-icon {
  @apply h-5 w-5 text-black;
}

.text-on-explanation-img {
  @apply top-1/2 z-30 left-1/2 -translate-x-1/2 -translate-y-1/2 text-xl text-gray-400;
}

.login-headline {
  @apply pt-12 relative text-2xl text-gray-900 select-none font-normal;
}

.login-input {
  @apply outline-none focus:ring-2 h-8 py-2 px-3
 w-[280px] border border-gray-200 rounded-full;
}

.login-input-cstm {
@apply stroke-slate-400;
}

.login-headline-s {
  @apply pl-2 text-gray-600 w-[128px] text-xs pb-1;
}

.login-btn {
  @apply mx-auto p-3 w-full rounded-full bg-dark_green text-gray-800 text-lg hover:bg-opacity-90;
}

.profile-main-contents-wrapper {
  @apply flex flex-row items-center sm:justify-between justify-center;
}

.profile-main-contents {
  @apply flex items-center flex-col sm:flex-row sm:justify-between justify-center gap-y-4 sm:gap-y-0 relative;
}

.profile-sub-contents-wrapper {
  @apply text-gray-600 mt-6 flex flex-col gap-y-4 text-sm;
}
.profile-mail-address-wrapper {
  @apply flex items-start sm:items-center flex-col sm:flex-row justify-start;
}

.profile-pw-wrapper {
  @apply w-full pl-0 flex flex-col sm:flex-row justify-between;
}

.profile-pw-label-wrapper {
  @apply flex items-start sm:items-center flex-col sm:flex-row justify-start;
}

.profile-pw-text {
  @apply py-1 pl-0 my-2 ml-0 sm:p-0 sm:m-0 text-gray-400 tracking-widest flex;
}

.dashboard-icon {
  @apply h-4 w-4
}

.profile-image {
  @apply w-5 h-5 rounded-full object-cover;
}

.sidebar-menu-btn-wrapper {
  @apply fixed sm:left-5 left-5 flex;
}

.sidebar-menu-icon {
  @apply h-5 w-5 text-white smd:text-white md:text-white;
}

.sidebar-icon {
  @apply h-5 w-5 text-white smd:text-black md:text-white;
}

.sidebar-icon-btn {
  @apply cursor-pointer;
}

.sidebar-icon-menu {
  @apply text-white text-xl lg:text-2xl;
}

.tatoe-list-wrapper {
  @apply flex pt-4 items-center gap-y-2 sm:gap-y-0 flex-row sm:justify-between;
}

.tatoe-list-items-wrapper {
  @apply lg:flex block lg:flex-row md:flex-col sm:flex-col flex-row items-center;
}

.tatoe-list-created-at {
  @apply flex text-gray-400 text-xxs;
}

.tatoe-list-item {
  @apply w-full sm:max-w-none flex flex-row justify-between;
}

.tatoe-list-title {
  @apply pr-4 text-gray-700 sm:min-w-[300px] sm:w-full sm:max-w-none;
}

.tatoe-list-btn-group {
  @apply flex flex-row gap-2 items-center opacity-0 group-hover:opacity-100;
}

.tatoe-list-icon {
  @apply h-4 w-4 text-black
}

.induce-withdrawal-btn-wrapper {
  @apply absolute z-40 left-0 top-12 w-48 bg-white text-gray-700 flex-col border border-gray-700;
}

.induce-withdrawal-btn-content {
  @apply text-gray-800 text-sm mx-auto cursor-pointer py-2 text-center hover:bg-gray-100 hover:w-full;
}

.top-upper-wrapper {
  @apply px-6 sm:px-6 md:px-11 lg:px-24 flex flex-col md:flex-row gap-9 md:gap-0 justify-around border-b-2 border-gray-800 w-full;
}

.top-catch-copy {
  @apply text-3xl sm:text-3xl md:text-4xl lg:text-5xl text-gray-700 leading-normal sm:leading-normal md:leading-relaxed lg:leading-relaxed
 text-center md:text-left tracking-normal;
}

.top-sub-catch-copy {
  @apply pt-2 text-gray-500 lg:leading-relaxed text-center md:text-left;
}

.top-upper-image-wrapper {
  @apply pl-0 pt-5 m-auto md:m-0 order-1 sm:order-1 md:order-2 lg:order-2;
}

.card-wrapper {
  @apply flex justify-center bg-gray-200 dark:bg-black px-6 sm:px-6 md:px-11 lg:px-24 py-10 sm:py-8 md:py-10 lg:py-10;
}

.card-contents {
  @apply flex sm:flex-row
  flex-col lg:justify-start sm:justify-center flex-wrap gap-x-8 gap-y-8 mt-4;
}

.account-default-icon-btn-wrapper {
  @apply my-auto rounded-full transition-all flex justify-center items-center text-black cursor-pointer;
}

.search-box-icon {
  @apply h-5 w-5
}